[tool.black]
line-length = 100
target_version = ['py36', 'py37']
include = '\.py$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.tox
    | __pycache__
    | env
    | \.pytest_cache
    | build
    | dist
    | examples
  )/
)
'''

[build-system]
requires = ["setuptools", "wheel"]
